---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import TableOfContents from '../components/TableOfContents.astro'
import PostTree from '../components/PostTree.astro'
import NextPost from '../components/NextPost.astro'
import FormattedDate from '../components/FormattedDate.astro';
import type { BlogPost } from '../types/BlogPost.ts';
import { getPostTree } from '../scripts/getPostTree';
import { slug } from 'github-slugger';
import { SITE_TITLE } from '../consts';

const { title, description, pubDate, indexHeadings, postid } = Astro.props;

const path = postid?.split('/') || "";
const postTree = await getPostTree();

const category = postTree.get(path[0]);
const serie = path.length == 3 ? category?.blogs.get(path[0] + '/' + path[1]) : null;
const blog = serie === null ? category?.blogs.get(path[0]+'/'+path[1]): serie?.blogs.get(path[0] + '/' + path[1] + '/' + path[2]);
---
<html lang="en">
	<head>
		<BaseHead title={`${title} - ${SITE_TITLE}`} description={description} />
		<style>
			.prose {
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 2em;
				color: rgb(var(--text-color));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: .5rem;
			}
			.date {
				margin-bottom: 1em;
				color: rgb(var(--date-color));
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<PostTree pathname={Astro.url.pathname} />
			<article>
				<div class="prose">
					<div class="title">
						{category && <a href={"#posttree-content-"+slug(category.title.toLowerCase())} class="category-title"> {category?.title.toUpperCase()} </a>}
						<h1>{title}</h1>
						<div class="date">
							<FormattedDate date={pubDate} />
						</div>
						<hr />
					</div>
					<slot />
				</div>
				<NextPost post={blog} />
			</article>
			<TableOfContents indexHeadings={indexHeadings} />
		</main>
	</body>
</html>
